
.available-sizes{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.right-nav{
    height: 8vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 0px 4px 0px;
}

.nav-mb-icons{
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 769px) {
    .nav-mb-icons{
        display: none;
    }
}

.nav-icons{
    width:3.5rem;
    height: 3.5rem;
}
.list-style{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 0px;
}
.list-item{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}
.active{
    background-color: #d9ebff;
    box-shadow: 0px 0px 1px 0px;
    margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
    .right-nav{
        width: 100vw;
        padding-left: 15px;
        padding-right: 15px;
    }
    .available-sizes{
        display: none;
    }
    .nav-items-names{
        display: none;
    }   
    .active{
        margin-bottom: 0px;
    } 

}
.btn-sizes{
    margin: 5px;
    background-color: #ffffff;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    width: 5rem;
    height: 2rem;
}