.navlogo{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 40px;
    width: 150px;
}
.sidebar{
    width: 20vw;
    height: 100vh;
}
.main{
    background-color: #5a6169;
    min-height: 92vh;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.square1-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    border-left: 0px;
    border-right: 0px;

}
.display-icon{
    height: 50px;
    width: 50px;
    background-color: #5a6169;
}
.square1{
    position: relative;
    flex-basis: calc(50% - 10px);
    margin: 5px;
    min-width: 0;
    height: 125px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: transparent;
    border: none;
}
.sub-heading{
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    margin: initial;
    padding-top: 7px;
    padding-bottom: 7px;
}
.square2-container{
    position: relative;
    flex-basis: calc(50% - 10px);
    margin: 5px;
    min-width: 0;
    height: 125px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}