.navlogo{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 40px;
    width: 150px;
}
.sidebar{
    width: 20vw;
    height: 100vh;
   
}


.main{
    background-color: #5a6169;
    min-height: 92vh;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.square1-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    border-left: 0px;
    border-right: 0px;
}
.display-icon{
    height: 50px;
    width: 50px;
    background-color:transparent;
}
.square1{
    position: relative;
    flex-basis: calc(50% - 10px);
    margin: 5px;
    min-width: 0;
    height: 125px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn{
    background-color: transparent;
    border: none;
    margin-top: 10px;
}
.sub-heading{
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    margin: initial;
    padding-top: 7px;
    padding-bottom: 7px;
}
.square2-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    border-left: 0px;
    border-right: 0px;
    min-width: 20vw;
    max-height: 40vh;
    overflow: auto;
}
.activeUnit{
    background-color: rgb(93, 166, 255);
}

::-webkit-scrollbar {
    width: 7px;

}
    
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
    
::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255); 
    border-radius: 10px;
    border-color: black;
    border: 0.5px;
    border-style: solid;
}
    
::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58); 
}
@media screen and (max-width: 728px) {
    .sidebar{
        position: absolute;
        z-index: 1000;
        background-color: #ffffff;
        width: 100vw;
    }
    .close{
        box-shadow: none;
        transform: translateX(-100%);
        visibility: hidden;
        transition: transform .5s ease,visibility 500ms;
    }
    .open{
        transform: translateX(0%);
        transition: transform .5s ease;
        visibility: visible;
    }
    .e-sidebar{
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        background: #f8f9fa;
        height: 100%;
        overflow: auto;
        position: fixed;
        top: 0;
        transition: none;
        vertical-align: middle;
        visibility: hidden;
        will-change: transform;
    }
    .square1-container{
        min-width: 100vw;
    
    }
    .square2-container{
        width: 100vw;
    }
    .navlogo{
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
@media screen and (max-width: 728px) {
    
}