@keyframes slide {
    0% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(0);
    }
}

.desktop-img {
    width: 80%;
    max-width: 300px;
    min-height: 60vh;
    top: 50%;
    left: 50%;
    margin: auto;

}

.request-msg {
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.frame-wrap-desktop {
    width: 23.5vw;
    height: 80vh;
    position: absolute;
    border: 0;
    margin-left: -0vh;
    margin-top: -85vh;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: scale(0.8, 0.8);
}

.iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 3840px),
screen and (max-height:2160px) {
    .frame-wrap-desktop {
        width: 75vw;
        height: 77vh;
        margin-left: 0vh;
        margin-top: -92vh;

    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: 80vh;
    }
}

@media screen and (max-width: 2560px),
screen and (max-height:1737px) {
    .frame-wrap-desktop {
        width: 68vw;
        height: 58vh;
        margin-left: -0vh;
        margin-top: -69vh;
    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: auto;
    }
}

@media screen and (max-width: 2560px),
screen and (max-height:1440px) {
    .frame-wrap-desktop {
        width: 57vw;
        height: 58vh;
        margin-left: -0vh;
        margin-top: -69vh;
    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: auto;
    }
}

@media screen and (max-width: 2552px) {
    .frame-wrap-desktop {
        width: 82vw;
        height: 82vh;
        margin-left: -0vh;
        margin-top: -99vh;
    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: auto;
    }
}

@media screen and (max-width: 2215px) {
    .frame-wrap-desktop {
        width: 65vw;
        height: 57vh;
        margin-left: -0vh;
        margin-top: -69vh;
    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: auto;
    }
}


@media screen and (max-width: 1920px),
screen and (max-height:1200px) {
    .frame-wrap-desktop {
        width: 81vw;
        height: 82vh;
        margin-left: -0vh;
        margin-top: -100vh;
    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: auto;
    }
}

@media screen and (max-width: 1920px),
screen and (max-height:1080px) {
    .frame-wrap-desktop {
        width: 61vw;
        height: 62vh;
        margin-left: -0vh;
        margin-top: -75vh;
    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: auto;
    }
}

@media screen and (max-width: 1905px),
screen and (max-height:969px) {
    .frame-wrap-desktop {
        width: 62vw;
        height: 70vh;
        margin-left: -0vh;
        margin-top: -83vh;
    }

    .desktop-img {
        width: 100%;
        max-width: 70vw;
        height: auto;
    }
}

@media screen and (max-width: 1440px),
screen and (max-height:900px) {
    .frame-wrap-desktop {
        width: 82vw;
        height: 80vh;
        margin-left: -0vh;
        margin-top: -99vh;
    }
}

@media screen and (max-width: 1366px),
screen and (max-height: 768px) {
    .frame-wrap-desktop {
        width: 104vw;
        height: 116vh;
        margin-left: -0vh;
        margin-top: -95vh;
        transform: scale(0.50, 0.54);

    }

    .desktop-img {
        width: 55vw;
        height: 82vh;
    }
}


@media screen and (max-width: 1280px),
screen and (max-height: 800px) {
    .frame-wrap-desktop {
        width: 103vw;
        height: 110vh;
        margin-left: -0vh;
        margin-top: -89vh;
        transform: scale(0.50, 0.54);

    }

    .desktop-img {
        width: 55vw;
        height: 77vh;
    }
}

@media screen and (max-width: 1024px) {
    .frame-wrap-desktop {
        width: 118vw;
        height: 100.5vh;
        margin-left: -0vh;
        margin-top: -81vh;
        transform: scale(0.50, 0.54);

    }

    .desktop-img {
        width: 63vw;
        height: 70vh;
    }
}

@media screen and (max-width: 768px) {
    .desktop-img {
        width: 80vw;
    }

    .desktop-container {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .frame-wrap-desktop {
        width: 111vw;
        height: 60vh;
        margin-left: -0vh;
        margin-top: -100vh;
    }
}

@media screen and (min-width: 768px) {
    .request-msg {
        display: none;
    }
}