body h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: white;
  font-family: Poppins;
  margin: 30px 20px;
}


.viewport {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: 360px;
  height: 800px;
  background-color: #202029;
  overflow: hidden;
}

@media (max-width: 410px) {
  .viewport {
    width: 100%;
    border-radius: 0px;
    padding: 0px;
/*     overflow-x: hidden; */
  }
}

.lightbox {
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.33s, opacity 0.33s, visibility 0.33s;
}

.lightbox.closed {
  transform: scale3d(0.5, 0.5, 1) !important;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  /* Dismissal has faster duration. */
  transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
  pointer-events: none;
}

/* No transitions when dragging, it creates a laggy effect. */
.dragging {
  transition: none;
}

body:before {
  content: "";
  z-index: 2;
    pointer-events: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  visibility: hidden;
}

body.lightbox-open:before {
  opacity: 1;
  visibility: visible;
}

amp-story-player.my-player {
/*   width: 360px;
  height: 600px;
  margin: 70px auto; */
  width: 100%;
  height: 100%;
  
}

::-webkit-scrollbar {
  display: none;
}

.page-indicators > * {
  width: 8px;
  height: 8px;
  margin: 10px 5px;
  border-radius: 100px;
  background-color: white;
}

.page-indicator-right {
  opacity: 0.3;
}

.page-indicators {
  width: 100%;
  justify-content: center;
  margin: 0;
  display: flex;
  position: absolute;
}

