.mobile-img{
    width: 80%;
    max-width: 300px;
    height: 85vh;
    top: 50%;
    left: 50%;
    margin: auto;

}
.frame-wrap-mobile{
    width: 23.5vw;
    height: 80vh;
    position: absolute;
    border: 0;
    margin-left: -0vh;
    margin-top: -85vh;
    transform: scale(0.8, 0.8);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
@media screen and (max-width: 1440px) {
    .mobile-img{
        width: 100%;
        max-width: 450px;
        height: 82vh;
    }
    .frame-wrap-mobile{
        width: 33vw;
        height: 78vh;
        margin-left: 0vh;
        margin-top: -84vh;
    }
}
@media screen and (max-width: 1366px) {
    .mobile-img{
        width: 100%;
        max-width: 320px;
        height: 85vh;
    }
    .frame-wrap-mobile{
        width: 25vw;
        height: 78vh;
        margin-left: 0vh;
        margin-top: -85.5vh;
    }
}
@media screen and (max-width: 1024px) {
    .mobile-img{
        width: 90%;
        max-width: 350px;
        height: 82vh;
    }
    .frame-wrap-mobile{
        width: 36vw;
        height: 77vh;
        margin-left: 0vh;
        margin-top: -84vh;
    }
}
@media screen and (max-width: 768px) {
    .mobile-img{
        width: 80%;
        max-width: 250px;
        height: 82vh;
    }
    .mobile-container{
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .frame-wrap-mobile{
        width: 35vw;
        height: 77vh;
        margin-left: 0vh;
        margin-top: -88vh;
    }
}
@media screen and (max-width: 672px) {
    .frame-wrap-mobile{
        width: 40vw;
        height: 77vh;
        margin-left: -0vh;
        margin-top: -88vh;
    }
}
@media screen and (max-width: 586px) {
    .frame-wrap-mobile{
        width: 45vw;
        height: 77vh;
        margin-left: -0vh;
        margin-top: -88vh;
    }
}
@media screen and (max-width: 485px) {
    
    .frame-wrap-mobile{
        width: 55vw;
        height: 77vh;
        margin-left: -0vh;
        margin-top: -88vh;
    }
}
@media screen and (max-width: 425px) {
    
    .frame-wrap-mobile{
        width: 63vw;
        height: 77vh;
        margin-left: -0vh;
        margin-top: -88vh;
    }
}



@media screen and (max-width: 375px) {
    .mobile-img{
        width: 80%;
        max-width: 350px;
        height: 82vh;
    }
    .frame-wrap-mobile{
        width: 75.5vw;
        height: 77vh;
        margin-left: -0.3vh;
        margin-top: -88vh;
    }
}
@media screen and (max-width: 320px) {
    .mobile-img{
        width: 100%;
        max-width: 350px;
        height: 82vh;
    }
    .frame-wrap-mobile{
        width: 90vw;
        height: 76vh;
        margin-left: -0vh;
        margin-top: -89vh;
    }
}