.mobile-img {
    width: 100%;
    max-width: 400px;
    height: 70vh;
    top: 50%;
    left: 50%;
    margin: auto;

}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.frame-wrap-mobile {
    width: 23.5vw;
    height: 80vh;
    position: absolute;
    overflow: hidden;
    border: 0;
    margin-left: -0vh;
    margin-top: -85vh;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: scale(0.8, 0.8);
}


@media screen and (max-width: 3840px),
screen and (max-height:2160px) {
    .mobile-img {
        width: 100%;
        max-width: 25vw;
        height: 75vh;
    }

    .frame-wrap-mobile {
        width: 22vw;
        height: 69vh;
        margin-left: 0vh;
        margin-top: -75vh;
    }
}

@media screen and (max-width: 2560px),
screen and (max-height:1737px) {
    .mobile-img {
        width: 100%;
        max-width: 25vw;
        height: 75vh;
    }

    .frame-wrap-mobile {
        width: 26vw;
        height: 69vh;
        margin-left: 0vh;
        margin-top: -75vh;
    }
}

@media screen and (max-width: 2560px),
screen and (max-height:1440px) {
    .mobile-img {
        width: 100%;
        max-width: 25vw;
        height: 75vh;
    }

    .frame-wrap-mobile {
        width: 22vw;
        height: 69vh;
        margin-left: 0vh;
        margin-top: -75vh;
    }
}

@media screen and (max-width: 2552px) {
    .mobile-img {
        width: 100%;
        max-width: 25vw;
        height: 75vh;
    }

    .frame-wrap-mobile {
        width: 27vw;
        height: 69vh;
        margin-left: 0vh;
        margin-top: -75vh;
    }
}

@media screen and (max-width: 1920px),
screen and (max-height:1200px) {
    .mobile-img {
        width: 100%;
        max-width: 450px;
        height: 82vh;
    }

    .frame-wrap-mobile {
        width: 25vw;
        height: 78vh;
        margin-left: 0vh;
        margin-top: -84vh;
    }
}

@media screen and (max-width: 1920px),
screen and (max-height:1080px) {
    .mobile-img {
        width: 100%;
        max-width: 450px;
        height: 82vh;
    }

    .frame-wrap-mobile {
        width: 24vw;
        height: 78vh;
        margin-left: 0vh;
        margin-top: -84vh;
    }
}

@media screen and (max-width: 1905px),
screen and (max-height:969px) {
    .mobile-img {
        width: 100%;
        max-width: 450px;
        height: 82vh;
    }

    .frame-wrap-mobile {
        width: 22vw;
        height: 78vh;
        margin-left: 0vh;
        margin-top: -84vh;
    }
}

@media screen and (max-width: 1440px) {
    .mobile-img {
        width: 100%;
        max-width: 450px;
        height: 70vh;
    }

    .frame-wrap-mobile {
        width: 31vw;
        height: 95vh;
        margin-left: 0vh;
        margin-top: -71vh;
        transform: scale(0.50, 0.54);

    }
}

@media screen and (max-width: 1366px) {
    .mobile-img {
        width: 100%;
        max-width: 400px;
        height: 70vh;
    }

    .frame-wrap-mobile {
        width: 58.5vh;
        height: 95vh;
        margin-left: 0vh;
        margin-top: -71vh;
        transform: scale(0.50, 0.54);

    }
}

@media screen and (max-width: 1024px) {
    .mobile-img {
        width: 100%;
        max-width: 350px;
        height: 75vh;
    }

    .frame-wrap-mobile {
        width: 38vw;
        height: 102vh;
        margin-left: 0vh;
        margin-top: -76vh;
        transform: scale(0.50, 0.54);

    }
}

@media screen and (max-width: 768px) {
    .mobile-img {
        width: 100%;
        max-width: 330px;
        height: 82vh;
    }

    .mobile-container {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .frame-wrap-mobile {
        width: 55vw;
        height: 113vh;
        margin-left: 0vh;
        margin-top: -89.5vh;
        transform: scale(0.50, 0.54);

    }
}

@media screen and (max-width: 672px) {
    .mobile-img {
        width: 100%;
        max-width: 320px;
        height: 82vh;
    }

    .frame-wrap-mobile {
        width: 71vw;
        height: 111vh;
        margin-left: -0vh;
        margin-top: -90vh;
        transform: scale(0.50, 0.54);

    }
}

@media screen and (max-width: 586px) {
    .frame-wrap-mobile {
        width: 88vw;
        height: 112vh;
        margin-left: -0vh;
        margin-top: -90vh;
    }
}

@media screen and (max-width: 485px) {

    .frame-wrap-mobile {
        width: 98vw;
        height: 112vh;
        margin-left: -0vh;
        margin-top: -90vh;
        transform: scale(0.50, 0.54);

    }
}

@media screen and (max-width: 425px) {
    .mobile-img {
        width: 100%;
        max-width: 350px;
        height: 75vh;
    }

    .frame-wrap-mobile {
        width: 93vw;
        height: 103vh;
        margin-left: -0vh;
        margin-top: -89vh;
        transform: scale(0.50, 0.54);

    }
}



@media screen and (max-width: 375px) {
    .mobile-img {
        width: 100%;
        max-width: 300px;
        height: 82vh;
    }

    .frame-wrap-mobile {
        width: 68vh;
        height: 112vh;
        margin-left: -0.3vh;
        margin-top: -89vh;
    }
}

@media screen and (max-width: 320px) {
    .mobile-img {
        width: 100%;
        max-width: 350px;
        height: 82vh;
    }

    .frame-wrap-mobile {
        width: 133vw;
        height: 113vh;
        margin-left: -0vh;
        margin-top: -89vh;
    }
}